.cursor__mask {
  transition: opacity 0.4s ease;
}

.footer__nav-link:hover,
.footer__link:hover {
  text-decoration: underline;
}

.cs-hero__button-wrapper:hover .cs-hero__button-underline{
  transform: scaleX(1);
  transition: all 0.6s ease;
}

.cs-hero__button-underline{
  transition: all 0.6s ease;
}

@media(max-width: 767px){
  .swiper-slide .swiper-image{
    opacity: 0.6;
    scale: 0.9;
    border-radius: 0.5rem;
    transition: all 0.4s ease;
  }
  
  .swiper-slide-active .swiper-image{
    scale: 1;
    opacity: 1;
    transition: all 0.4s ease;
    border-radius: 0.5rem;
  }
}

@media(min-width: 768px){
  .swiper-slide .swiper-image{
    opacity: 0.6;
    scale: 0.9;
    border-radius: 2.5rem;
    transition: all 0.4s ease;
  }
  
  .swiper-slide-active .swiper-image{
    scale: 1;
    opacity: 1;
    border-radius: 2.5rem;
    transition: all 0.4s ease;
  }
}

